In [1]:
# Q.1
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)

L.remove(10)
L.remove(30)

L.sort()
print("Ascending Order:", L)

L.sort(reverse=True)
print("Descending Order:", L)

Ascending Order: [20, 40, 50, 60, 70, 80, 200, 300]
Descending Order: [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
# Q.2
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest Score: {highest_score}, Index: {highest_index}")

lowest_score = min(scores)
count_lowest = scores.count(lowest_score)
print(f"Lowest Score: {lowest_score}, Count: {count_lowest}")

reversed_list = list(scores[::-1])
print("Reversed List:", reversed_list)

search_score = int(input("Enter the score to search: "))
if search_score in scores:
    first_occurrence = scores.index(search_score)
    print(f"Score {search_score} found at index: {first_occurrence}")
else:
    print(f"Score {search_score} is not present in the tuple.")

Highest Score: 92, Index: 5
Lowest Score: 45, Count: 2
Reversed List: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter the score to search: 53
Score 53 is not present in the tuple.

In [3]:
# Q.3
import random
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

print("Random Numbers:", random_numbers)
print(f"Odd Numbers ({len(odd_numbers)}): {odd_numbers}")
print(f"Even Numbers ({len(even_numbers)}): {even_numbers}")
print(f"Prime Numbers ({len(prime_numbers)}): {prime_numbers}")

Random Numbers: [626, 296, 698, 105, 179, 484, 614, 475, 286, 847, 826, 324, 654, 276, 321, 417, 613, 344, 650, 291, 555, 265, 613, 273, 254, 656, 318, 856, 656, 380, 600, 436, 404, 465, 834, 326, 178, 738, 860, 105, 493, 231, 204, 147, 305, 428, 243, 359, 829, 145, 530, 836, 726, 366, 768, 240, 529, 347, 307, 768, 571, 268, 578, 257, 648, 722, 411, 118, 627, 519, 497, 693, 206, 224, 450, 144, 335, 186, 885, 412, 301, 834, 710, 567, 321, 750, 171, 817, 227, 607, 250, 343, 431, 734, 307, 595, 883, 750, 786, 266]
Odd Numbers (46): [105, 179, 475, 847, 321, 417, 613, 291, 555, 265, 613, 273, 465, 105, 493, 231, 147, 305, 243, 359, 829, 145, 529, 347, 307, 571, 257, 411, 627, 519, 497, 693, 335, 885, 301, 567, 321, 171, 817, 227, 607, 343, 431, 307, 595, 883]
Even Numbers (54): [626, 296, 698, 484, 614, 286, 826, 324, 654, 276, 344, 650, 254, 656, 318, 856, 656, 380, 600, 436, 404, 834, 326, 178, 738, 860, 204, 428, 530, 836, 726, 366, 768, 240, 768, 268, 578, 648, 722, 118, 206, 224, 450, 144, 186, 412, 834, 710, 750, 250, 734, 750, 786, 266]
Prime Numbers (14): [179, 613, 613, 359, 829, 347, 307, 571, 257, 227, 607, 431, 307, 883]

In [4]:
# Q.4
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
print("Unique scores (Union):", unique_scores)

common_scores = A.intersection(B)
print("Common scores (Intersection):", common_scores)

exclusive_scores = A.symmetric_difference(B)
print("Exclusive scores (Symmetric Difference):", exclusive_scores)

is_A_subset_B = A.issubset(B)
is_B_superset_A = B.issuperset(A)
print(f"Is A a subset of B? {is_A_subset_B}")
print(f"Is B a superset of A? {is_B_superset_A}")

X = int(input("Enter the score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from A. Updated A:", A)
else:
    print(f"Score {X} is not present in set A.")

Unique scores (Union): {34, 45, 78, 23, 56, 90}
Common scores (Intersection): {90, 78}
Exclusive scores (Symmetric Difference): {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter the score to remove from A: 38
Score 38 is not present in set A.

In [5]:
# Q.5
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}