**Assingment 1.1**: WAP to print your name three times

In [1]:
for i in range(3):
  print ("Bhagat Singh")

Bhagat Singh
Bhagat Singh
Bhagat Singh

**Assingment 2.1**: WAP to add three numbers and print the result.

**Assingment 2.2**: WAP to concatinate three strings and print the result.

In [3]:
# Assignment 2.1
a=int(input("write a number = "))
b=int(input("write a number = "))
c=int(input("write a number = "))
result=a+b+c
print(result)

#Assignment 2.2
a=input("write a string = ")
b=input("write a string = ")
c=input("write a string = ")
result=a+b+c
print(result)

write a number = 1
write a number = 2
write a number = 3
6
write a string = v
write a string = a
write a string = n
van

**Assingment 4.1:** WAP to print the table of 7, 9.

**Assingment 4.2:** WAP to print the table of n and n is given by user.

**Assingment 4.3:** WAP to add all the numbers from 1 to n and n is given by user.

In [5]:
# Assignment 4.1
for i in range(10):
  print("7 * ",i," = ",7*i)
for i in range(10):
  print("9 * ",i," = ",9*i)
# Assignment 4.2
n=int(input("write a number = "))
for i in range(10):
  print(n," * ",i," = ",n*i)
# Assignment 4.3
n=int(input("write a number = "))
sum=0
for i in range(n+1):
  sum=sum+i
print(sum)

7 *  0  =  0
7 *  1  =  7
7 *  2  =  14
7 *  3  =  21
7 *  4  =  28
7 *  5  =  35
7 *  6  =  42
7 *  7  =  49
7 *  8  =  56
7 *  9  =  63
9 *  0  =  0
9 *  1  =  9
9 *  2  =  18
9 *  3  =  27
9 *  4  =  36
9 *  5  =  45
9 *  6  =  54
9 *  7  =  63
9 *  8  =  72
9 *  9  =  81
write a number = 1
1  *  0  =  0
1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
write a number = 2
3

**Assingment 5.1:** WAP to find max amoung three numbers and input from user. [Try max() function]

**Assingment 5.2:** WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

**Assingment 5.3:** WAP to add all prime numbers from 1 to n and n is given by the user.

In [7]:
# Assignment 5.1
a=int(input("write a number = "))
b=int(input("write a number = "))
c=int(input("write a number = "))
print(max(a,b,c))
# Assignment 5.2
n=int(input("write a number = "))
sum=0
for i in range(n+1):
  if i%7==0 or i%9==0:
    sum=sum+i
print(sum)
# Assignment 5.3
n=int(input("write a number = "))
for i in range(1,n):
  for j in range(2,i//2+1):
    if i%j==0:
      break
  else:
    sum=sum+i
print(sum)

write a number = 2
write a number = 3
write a number = 4
4
write a number = 2
0
write a number = 10
18


**Assingment 6.1:** WAP using function that add all odd numbers from 1 to n, n is given by the user.

**Assingment 6.2:** WAP using function that add all prime numbers from 1 to n, n given by the user.

In [11]:
# Assignment 6.1
def AddOdd(n):
  sum=0
  for i in range(n+1):
    if i%2!=0:
      sum=sum+i
  return sum
n=int(input("write a number = "))
print(AddOdd(n))
# Assignment 6.2
def AddPrime(n):
  sum=0
  for i in range(1,n):
    for j in range(2,i//2+1):
      if i%j==0:
        break
    else:
      sum=sum+i
  return sum
n=int(input("write a number = "))
print(AddPrime(n))

write a number = 10
25
write a number = 10
18